.container {
  border: 1px solid black;
  margin-bottom: 30px;
}

.form {
  display: flex;
  justify-content: center;
  gap: 60px;
}

input {
  width: 60%;
  justify-content: space-between;
}
.button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
