.tasks {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 0 calc(50% - 334px);
}

li {
  font-size: 16px;
  list-style: none;
  background-color: white;
  padding: 10px 30px;
  margin: 0px;
}
