.btn {
  height: 40px;
  width: 50px;
  border-radius: 5px;
  padding: 10px 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid black;
  box-shadow: 0 3px 6px #0003;
  background-color: white;
}
